/* veriabels */
/* FONTS */
/* COLOR */
/* TRANSITION */
/* mixins */
/* media */
/* max-width */
/* min-width */
/* FONTS */
/* SVG Socails Animation */
/* BASE */
/* FONTS */
/* COLOR */
/* TRANSITION */
@font-face {
  font-family: "Segoe UI";
  font-weight: 300;
  font-style: normal;
  src: url("../fonts/SegoeUI-Light.eot");
  src: url("../fonts/SegoeUI-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/SegoeUI-Light.woff") format("woff"), url("../fonts/SegoeUI-Light.ttf") format("truetype");
}

@font-face {
  font-family: "Segoe UI";
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/SegoeUI.eot");
  src: url("../fonts/SegoeUI.eot?#iefix") format("embedded-opentype"), url("../fonts/SegoeUI.woff") format("woff"), url("../fonts/SegoeUI.ttf") format("truetype");
}

@font-face {
  font-family: "Segoe UI";
  font-weight: 600;
  font-style: normal;
  src: url("../fonts/SegoeUI-SemiBold.eot");
  src: url("../fonts/SegoeUI-SemiBold.eot?#iefix") format("embedded-opentype"), url("../fonts/SegoeUI-SemiBold.woff") format("woff"), url("../fonts/SegoeUI-SemiBold.ttf") format("truetype");
}

@font-face {
  font-family: "Segoe UI";
  font-weight: 700;
  font-style: normal;
  src: url("../fonts/SegoeUI-Bold.eot");
  src: url("../fonts/SegoeUI-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/SegoeUI-Bold.woff") format("woff"), url("../fonts/SegoeUI-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Segoe UI";
  font-weight: 400;
  font-style: italic;
  src: url("../fonts/SegoeUI-Italic.eot");
  src: url("../fonts/SegoeUI-Italic.eot?#iefix") format("embedded-opentype"), url("../fonts/SegoeUI-Italic.woff") format("woff"), url("../fonts/SegoeUI-Italic.ttf") format("truetype");
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*:focus {
  outline: none;
}

html,
body {
  width: 100%;
  min-width: 1200px;
}

body {
  font-family: "Segoe UI";
}

a {
  text-decoration: none;
  -webkit-transition: 0.32s cubic-bezier(0.23, 1, 0.32, 1);
  -o-transition: 0.32s cubic-bezier(0.23, 1, 0.32, 1);
  transition: 0.32s cubic-bezier(0.23, 1, 0.32, 1);
}

a:hover {
  opacity: .8;
}

img {
  max-width: 100%;
  height: auto;
}

input[type="submit"] {
  cursor: pointer;
  -webkit-transition: 0.32s cubic-bezier(0.23, 1, 0.32, 1);
  -o-transition: 0.32s cubic-bezier(0.23, 1, 0.32, 1);
  transition: 0.32s cubic-bezier(0.23, 1, 0.32, 1);
}

input[type="submit"]:hover {
  opacity: .8;
}

.wrapper {
  width: 100%;
  min-width: 1200px;
  padding: 0 15px;
}

.screen-saver {
  width: 100%;
  height: 100vh;
  background-image: url("../img/bg.jpg");
  -webkit-background-size: cover;
          background-size: cover;
  background-position: center center;
  min-height: 768px;
}

.screen-saver .wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

.screen-saver__logo {
  background-image: url("../img/main_arrows_line.png");
  -webkit-background-size: cover;
          background-size: cover;
  width: 774px;
  height: 291px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.screen-saver__title {
  padding-top: 22px;
  text-align: center;
  color: #675454;
}

.screen-saver__title h1 {
  font-size: 62px;
  line-height: 76px;
  font-weight: 700;
  text-transform: uppercase;
  max-width: 615px;
}

.screen-saver__title p {
  padding-top: 8px;
  font-size: 36px;
  font-weight: 400;
  letter-spacing: -0.5px;
}

.main-navigation {
  margin-top: 33px;
  width: 100%;
  max-width: 1771px;
}

.main-navigation__list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 -15px;
}

.main-navigation__item {
  padding: 0 15px;
  width: 25%;
}

.main-navigation__link {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 344px;
  background-image: url("../img/instruction_bg.png");
  -webkit-background-size: 100% 100%;
          background-size: 100% 100%;
  padding: 31px 60px;
}

.main-navigation__link:hover {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
  opacity: 1;
}

.main-navigation__text {
  padding-top: 16px;
  text-align: center;
  font-size: 19px;
  font-weight: 700;
  line-height: 33px;
  color: #000;
  text-transform: uppercase;
}

.main-navigation__text span {
  display: block;
  font-size: 16px;
  text-transform: none;
}

.main-navigation__text-model {
  -webkit-transform: translateY(-9px);
      -ms-transform: translateY(-9px);
          transform: translateY(-9px);
}
