.screen-saver {
  width: 100%;
  height: 100vh;
  background-image: url('../img/bg.jpg');
  background-size: cover;
  background-position: center center;
  min-height: 768px;

  .wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
  }

  &__logo {
      background-image: url('../img/main_arrows_line.png');
      background-size: cover;
      width: 774px;
      height: 291px;
      display: flex;
      align-items: center;
      justify-content: center;
  }

  &__title {
    padding-top: 22px;
    text-align: center;
    color: $brown;

    h1 {
      font-size: 62px;
      line-height: 76px;
      font-weight: 700;
      text-transform: uppercase;
      max-width: 615px;
    }

    p {
      padding-top: 8px;
      font-size: 36px;
      font-weight: 400;
      letter-spacing: -0.5px;
    }
  }
}

.main-navigation {
  margin-top: 33px;
  width: 100%;
  max-width: 1771px;

  &__list {
    display: flex;
    justify-content: space-between;
    margin: 0 -15px;
  }

  &__item {
    padding: 0 15px;
    width: 25%;
  }

  &__link {
      display: flex;
      flex-direction: column;
      align-items: center;
      min-height: 344px;
      background-image: url('../img/instruction_bg.png');
      background-size: 100% 100%;
      padding: 31px 60px;

      &:hover {
        transform: scale(1.1);
        opacity: 1;
      }
  }

  &__image {

  }

  &__text {
    padding-top: 16px;
    text-align: center;
    font-size: 19px;
    font-weight: 700;
    line-height: 33px;
    color: $black;
    text-transform: uppercase;

    span {
      display: block;
      font-size: 16px;
      text-transform: none;
    }

    &-model {
      transform: translateY(-9px);
    }
  }
}
