@import 'veriabel';



@include fontface($SegoeUI, SegoeUI-Light, 300, normal);
@include fontface($SegoeUI, SegoeUI, 400, normal);
@include fontface($SegoeUI, SegoeUI-SemiBold, 600, normal);
@include fontface($SegoeUI, SegoeUI-Bold, 700, normal);
@include fontface($SegoeUI, SegoeUI-Italic, 400, italic);

* {
  box-sizing: border-box;


  &:focus {
    outline: none;
  }
}


html,
body {
     width: 100%;
     min-width: 1200px;
}

body {
  font-family: $SegoeUI;
}

a {
  text-decoration: none;
  transition: $delay;

  &:hover {
    opacity: .8;
  }
}

img {
  max-width: 100%;
  height: auto;
}

input[type="submit"] {
  cursor: pointer;
  transition: $delay;

  &:hover {
    opacity: .8;
  }
}

.wrapper {
  width: 100%;
  min-width: 1200px;
  padding: 0 15px;
}

// .main {
//   display: block;
//   position: relative;
//   overflow-x: hidden;
//   overflow-y: hidden;
// }
