
/* FONTS */

$SegoeUI: 'Segoe UI';

/* COLOR */

$white: #fff;
$black: #000;
$brown: #675454;
$light-brown: #e3d8cc; 



/* TRANSITION */
$delay: 0.32s cubic-bezier(0.23, 1, 0.32, 1);
$ease: 0.3s ease;
